In [3]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets

In [4]:
# 데이터를 불러옵니다.
pixels_data = pd.read_csv('./fer2013/fer2013.csv')
pixels_data.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [5]:
# 필요없는 열을 제거합니다.
del pixels_data['Usage']

In [6]:
# emotion이라는 열을 따로 만들어줍니다.
emotion = pixels_data[['emotion']].copy()
emotion.head()

   emotion
0        0
1        0
2        2
3        4
4        6

In [7]:
del pixels_data['emotion']
pixels_data.head()

                                              pixels
0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1  151 150 147 155 148 133 111 140 170 174 182 15...
2  231 212 156 164 174 138 161 173 182 200 106 38...
3  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...

In [8]:
from sklearn import model_selection

In [10]:
# model_selection을 통해 train / test로 무작위적으로 나눕니다.
train_data, test_data, train_label, test_label = model_selection.train_test_split(pixels_data, emotion, test_size=0.3, random_state=0)

In [11]:
# pixels를 2304개의 열로 split합니다.
train_data = np.array(list(map(str.split, train_data.pixels)), np.float32) 
test_data = np.array(list(map(str.split, test_data.pixels)), np.float32)

In [12]:
# train_data의 Max 값이 255로 나누어 0 ~ 1 사이의 숫자들로 만들어줍니다.
train_data = train_data / 255.0
test_data = test_data / 255.0

In [15]:
# K-Neighbors & 클러스터 분류 (Classifier)
model = neighbors.KNeighborsClassifier(7)

In [16]:
model.fit(train_data, train_label)

C:\Users\mseok\user\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [17]:
model.predict(test_data)

array([5, 2, 3, ..., 3, 3, 6], dtype=int64)

In [ ]:
print("Accuracy : {:.2f}".format(model.score(test_data, test_label)))